<div data-sly-test="${wcmmode.edit}"  class="cq-placeholder" data-emptytext="${component.properties.jcr:title}"></div>

<div class="container-fluid">
	<h6 class="display-4 text-center">Contact us</h6>
	<div class="row justify-content-center">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
			<form id="contact-form" class="form" action="#" role="form" autocomplete="off">
				<div class="form-group">
					<label class="form-label" for="name">Your Name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1" required> </div>
				<div class="form-group">
					<label class="form-label" for="email">Your Email</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2" required> </div>
				<div class="form-group">
					<label class="form-label" for="subject">Subject</label>
					<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3"> </div>
				<div class="form-group">
					<label class="form-label" for="message">Message</label>
					<textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Message..." tabindex="4" required></textarea>
				</div>
				<div class="text-center">
					<button id="send-message-btn" class="btn btn-start-order">Send Message</button>
				</div>
			</form>
		</div>
	</div>
</div>
<hr class="my-5">

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories='webdoodles.contactus'}"/>